/* new-balance template */
/* main-new-b */
.main-new-b {
	background-color: #fbfbfb;
	overflow: hidden;
}
.main-new-b-inner {
	display: flex;
	justify-content: center;
}
.main-new-b__img {
	flex-grow: 1;
	position: relative;
}
.main-new-b__img:before {
	content: "";
	position: absolute;
	z-index: 3;
}
.main-new-b__img_women {
	background: url("../img/main-new-b-left-bg.png") no-repeat 100% 0;
}
.main-new-b__img_man {
	background: url("../img/main-new-b-right-bg.png") no-repeat 0 0;
}

.main-new-b__img_women:before {
	width: 383px;
	height: 304px;
	background: url("../img/new-b-banner-sneaker-1.png") no-repeat 0 0;
	right: -182px;
	top: 180px;
}

.main-new-b__img_man:before {
	width: 378px;
	height: 398px;
	background: url("../img/new-b-banner-sneaker-2.png") no-repeat 0 0;
	left: -63px;
	top: 78px;
}

.main-new-b__text {
	text-align: center;
	max-width: 540px;
	position: relative;
	background-color: #fff;
	padding: 70px 90px 90px 90px;
	flex-shrink: 0;
}
.main-new-b-text:after,
.main-new-b-text:before {
	content: "";
	position: absolute;
}
.new-balance-template .reviews-carousel .owl-nav > button.owl-next:before,
.reviews-carousel .owl-nav > button.owl-next:after {
	background: #fff;
}
.main-new-b__title {
	font-weight: 700;
	font-size: 34px;
	line-height: 40px;
}
.main-new-b__title span {
	color: #e21836;
	display: block;
}
.main-new-b__percent {
	font-weight: 700;
	font-size: 144px;
	line-height: 1.1;
	color: #e21836;
}
.main-new-b__buttons {
	display: inline-block;
	max-width: 270px;
}
.main-new-b__buttons > * + * {
	margin-top: 13px;
}
.new-balance-template .btn {
	background-color: #e21836;
	border-radius: 0;
}
.new-balance-template .btn:hover {
	background-color: #ca001e;
}
.new-balance-template .card-discount {
	background-color: #c6e218;
	color: #000;
}
.new-balance-template .info-price-cont .new-price,
.pagination li a:hover,
.pagination li a.active {
	color: #e21836;
}

.new-balance-template .reviews-carousel .owl-nav > button.owl-next {
	background-color: #e21836;
}
/* benners */
.banner-new-b {
	background-color: rgba(226, 24, 54);
	background-position: 0 -30px;
	display: block;
	padding: 40px 0px;
	width: 100%;
	margin-bottom: 70px;
	text-decoration: none;
	position: relative;
}
.banner-new-b:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(226, 24, 54, 0.98);
}
.banner-new-b-content {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner-new-b-title {
	font-size: 38px;
	line-height: 45px;
	min-width: 776px;
	font-family: "DIN Pro Cond M", Arial, sans-serif;
	font-weight: 900;
	display: flex;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	background-color: #000;
	padding-left: 75px;
	padding-right: 75px;
	margin-left: -130px;
	margin-bottom: 20px;
}
.banner-new-b-title .icon {
	margin-right: 15px;
}
.banner-new-b-descr {
	font-family: "DIN Pro", Arial, sans-serif;
	font-size: 26px;
	line-height: 30px;
	max-width: 515px;
	font-weight: bold;
	padding-left: 15px;
	color: #fff;
}
.banner-new-b-img {
	position: absolute;
	left: 500px;
	top: -60px;
}
.banner-new-b-warranty {
	flex-shrink: 0;
	width: 180px;
	height: 180px;
	padding: 20px;
	text-align: center;
	border-radius: 50%;
	background-color: #c6e218;
	border: 2px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 0px 6px #c6e218;
	-moz-box-shadow: 0px 0px 0px 6px #c6e218;
	box-shadow: 0px 0px 0px 6px #c6e218;
	font-family: "DIN Pro", Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	transform: rotate(15deg);
}
.banner-new-b-warranty .icon {
	margin-bottom: 10px;
}

.banner-new-b_second {
	background-color: rgb(229, 229, 229);
	padding: 33px 0px;
	width: 100%;
}
.banner-new-b_second:after {
	background-color: rgba(229, 229, 229, 0.98);
}
.banner-new-b_second .banner-new-b-title {
	font-family: "DIN Pro", Arial, sans-serif;
	background-color: transparent;
	padding: 0;
	color: #000;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	margin-left: -50px;
	max-width: 464px;
	min-width: auto;
	margin-right: 45px;
	margin-bottom: 0px;
}
.banner-new-b_second .banner-new-b-title img {
	margin-right: 30px;
}
.banner-new-b_second .banner-new-b-descr {
	background-color: #c6e218;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000;
	padding: 20px 25px 30px 170px;
	position: relative;
	max-width: 637px;
}

.banner-new-b_second .banner-new-b-img {
	left: -60px;
	top: -20px;
}
.banner-new-b-descr-text {
	position: relative;
}
.banner-new-b-descr-text:after {
	content: "";
	width: 20px;
	height: 8px;
	background: url("../img/right-arrow.png") no-repeat 0 0;
	position: absolute;
	top: 7px;
	left: -30px;
}
/*discount*/
.new-balance-template .discount {
	margin-bottom: 50px;
}
.new-balance-template .discount-inner {
	align-items: flex-start;
}
.new-balance-template .discount-title {
	margin-right: 15px;
	position: relative;
}

.new-balance-template .discount-title-img {
	position: absolute;
	top: 60px;
	bottom: 20px;
	left: 20px;
	width: 100%;
}
.new-balance-template .discount-percentage-items {
	background: #e21836 url("../img/discount-banner-bg.png") 0px -10px;
	position: relative;
}
.new-balance-template .discount-percentage-items:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: rgba(226, 24, 54, 0.97);
}
.new-balance-template .discount-percentage-item {
	position: relative;
	z-index: 1;
}
.new-balance-template .price {
	padding: 5px 7px;
	background-color: #c6e218;
	color: #000;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.new-balance-template .discount-about .title {
	padding-left: 30px;
	position: relative;
}
.new-balance-template .discount-about .title:after {
	content: "";
	position: absolute;
	left: 0px;
	top: 7px;
	width: 15px;
	height: 27px;
	background: url("../img/discount-about-icon.svg") no-repeat 0 0;
}

.new-balance-template .catalog-product .banner-new-b-title {
	margin-left: 0px;
}
.new-balance-template .catalog-product .banner-new-b-descr {
	padding-left: 145px;
	max-width: 632px;
}
.new-balance-template .catalog-product .banner-new-b-img {
	position: absolute;
	left: 560px;
	top: -60px;
}
.new-balance-template .catalog-product .banner-new-b_second .banner-new-b-img {
	position: absolute;
	left: -60px;
	top: -20px;
}
/*product-catalog*/
.new-balance-template .sp-ad-catalog__tt {
	color: #fff;
	background-color: rgba(226, 24, 54, 0.9);
	background-image: none;
}
/*-------------------------------------*/
.new-balance-template .sale-catalog-product {
	background-color: #e21836;
	color: #fff;
}
