/* balenciaga template */

/* Max width 1100 pixels */
@media only screen and (max-width: 1100px) {
	/* banners */
	.banner-new-b-title {
		margin-left: 0;
		padding-left: 10px;
	}
	.catalog-product .banner-new-b-descr {
		padding-left: 82px;
		max-width: 80%;
	}
	.banner-new-b_second .banner-new-b-title {
		margin-left: 0px;
	}
	.banner-new-b_second .banner-new-b-title img {
		margin-right: 15px;
	}
	.banner-new-b_second .banner-new-b-img {
		display: none;
	}
	.banner-new-b_second .banner-new-b-descr {
		padding: 20px 25px 30px 35px;
	}
}
/* end media max width 1100 pixels */

/* Max width 980 pixels */
@media only screen and (max-width: 980px) {
	/* main-new-b */
	.main-new-b {
		position: relative;
	}
	.main-new-b-inner {
		display: block;
	}
	.main-new-b__img {
		background: none;
		width: 0;
		position: static;
	}
	.main-new-b__img_women:before {
		right: -156px;
		top: 150px;
	}
	.main-new-b__img_man:before {
		left: -100px;
		top: 50px;
	}
	.main-new-b__text {
		padding: 50px 30px;
		max-width: none;
		background-color: inherit;
	}
	.new-balance-template .logo svg {
		max-width: 70px;
	}
	/* banners */
	.banner-new-b {
		position: relative;
	}
	.banner-new-b-warranty {
		position: absolute;
		right: 10px;
		top: -27px;
	}
	.banner-new-b-content {
		display: block;
		padding-right: 100px;
	}
	.banner-new-b-img {
		display: none;
	}
	.banner-new-b-title {
		min-width: auto;
		width: 100%;
		padding-right: 200px;
	}
	.banner-new-b_second .banner-new-b-title img {
		display: none;
	}
	.banner-new-b_second .banner-new-b-content {
		display: block;
	}
	.banner-new-b_second .banner-new-b-title {
		margin-bottom: 20px;
		max-width: none;
	}
	.banner-new-b_second .banner-new-b-descr {
		padding: 15px 15px 15px 35px;
		max-width: none;
	}
	.banner-new-b_second .banner-new-b-content {
		padding-right: 0;
	}
	.new-balance-template .discount-title-img {
		display: none;
	}
	.catalog-product .banner-new-b_second .banner-new-b-descr {
		padding: 15px 15px 15px 35px;
		max-width: none;
	}
}
/* end media max width 980 pixels */

/* Max width 740 pixels */
@media only screen and (max-width: 740px) {
	/* main-new-b */
	.main-new-b__text {
		padding: 50px 15px;
		position: relative;
		z-index: 4;
	}
	.main-new-b__title {
		margin-bottom: 20px;
	}

	.main-new-b__percent {
		font-size: 114px;
	}
	.main-new-b__img_women:before {
		right: -180px;
		top: 200px;
	}
	.main-new-b__img_man:before {
		left: -100px;
		top: 100px;
	}
	/* banners */
	.banner-new-b-warranty {
		display: none;
	}
	.banner-new-b-title {
		display: inline-block;
		width: auto;
		font-size: 25px;
		line-height: 35px;
		padding: 0px 15px;
	}

	.banner-new-b-content {
		padding-right: 0px;
	}
	.banner-new-b-title .icon {
		display: none;
	}
	.banner-new-b-descr {
		font-size: 18px;
		padding: 0px;
		line-height: 20px;
		max-width: none;
	}
	.catalog-product .banner-new-b-descr {
		padding: 0px;
		max-width: none;
	}
	/*discount*/
	.new-balance-template .discount-about .title {
		margin-bottom: 5px;
		padding: 0;
	}
	.new-balance-template .discount-about .title:after {
		display: none;
	}
}
/* end media max width 740 pixels */
